body{
  margin:0px;
  background: #d9dcbe;
}
header-cont {
  width:100%;
  position:fixed;
  top:0px;
}
h1 {
  height:50px;
  background: #c9c9c9;
  border:1px solid #CCC;
  width:960px;
  margin:0px auto;
}

h4 {
  height:50px;
  background:#A0A0A0;
  border:1px solid #CCC;
  width:960px;
  margin:0px auto;

}
#idLabel{
  margin: 0px;
  color: crimson;
  font-style: inherit;
}
button{
  margin: 10px;
  border-color: black;
  border-style: ridge;
}
.pre-scrollable {
  max-height: 450px;
  overflow-y: scroll;
}
content {
  width:960px;
  background: #F0F0F0;
  border: 1px solid #CCC;
  height: 2000px;
  margin: 70px auto;
}
